@import url("https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css");
@import url("https://fonts.googleapis.com/css?family=Geist+Mono:400|Geist:300,400,500");
/* The following line is used to measure usage of this code. You can remove it if you want. */
@import url("https://px.animaapp.com/5c3d23a9532c200009eaba31.6453ad60c5ce4fc9b1da4bed.YAsZ9N9.hcp.png");



.screen a {
  display: contents;
  text-decoration: none;
}

.hidden,
.hidden * {
  pointer-events: none;
  visibility: hidden;
}

* {
  box-sizing: border-box;
}
