@import url("https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css");
@import url("https://fonts.googleapis.com/css?family=Geist+Mono:var(--eyebrow-font-weight)|Geist:var(--h1-mobile-font-weight),var(--h1-desktop-font-weight),var(--h4-desktop-light-font-weight),var(--button-regular-font-weight),var(--p-large-desktop-regular-font-weight),var(--h4-mobile-light-font-weight),400,var(--h2-mobile-font-weight),var(--h2-desktop-font-weight),var(--p-desktop-regular-font-weight),var(--p-mobile-regular-font-weight),var(--p-large-mobile-regular-font-weight),var(--button-small-font-weight)");
* {
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
}
html,
body {
  margin: 0px;
  height: 100%;
}
button:focus-visible,
a:focus-visible {
  outline: 2px solid #4a90e2 !important;
  outline: -webkit-focus-ring-color auto 5px !important;
}
a {
  text-decoration: none;
}
