:root {
  --eyebrow-font-family: "Geist Mono", Helvetica;
  --eyebrow-font-weight: 400;
  --eyebrow-font-size: 17px;
  --eyebrow-letter-spacing: -0.17px;
  --eyebrow-line-height: 100%;
  --eyebrow-font-style: normal;
  --label-font-family: "Geist Mono", Helvetica;
  --label-font-weight: 400;
  --label-font-size: 12px;
  --label-letter-spacing: -0.24px;
  --label-line-height: 120.00000476837158%;
  --label-font-style: normal;
  --h1-desktop-font-family: "Geist", Helvetica;
  --h1-desktop-font-weight: 300;
  --h1-desktop-font-size: 56px;
  --h1-desktop-letter-spacing: -1.68px;
  --h1-desktop-line-height: 110.00000238418579%;
  --h1-desktop-font-style: normal;
  --h1-mobile-font-family: "Geist", Helvetica;
  --h1-mobile-font-weight: 300;
  --h1-mobile-font-size: 42px;
  --h1-mobile-letter-spacing: -1.26px;
  --h1-mobile-line-height: 110.00000238418579%;
  --h1-mobile-font-style: normal;
  --h2-desktop-font-family: "Geist", Helvetica;
  --h2-desktop-font-weight: 300;
  --h2-desktop-font-size: 40px;
  --h2-desktop-letter-spacing: -1.2px;
  --h2-desktop-line-height: 110.00000238418579%;
  --h2-desktop-font-style: normal;
  --h2-mobile-font-family: "Geist", Helvetica;
  --h2-mobile-font-weight: 300;
  --h2-mobile-font-size: 32px;
  --h2-mobile-letter-spacing: -0.96px;
  --h2-mobile-line-height: 110.00000238418579%;
  --h2-mobile-font-style: normal;
  --h3-desktop-font-family: "Geist", Helvetica;
  --h3-desktop-font-weight: 300;
  --h3-desktop-font-size: 32px;
  --h3-desktop-letter-spacing: -0.96px;
  --h3-desktop-line-height: 129.99999523162842%;
  --h3-desktop-font-style: normal;
  --h3-mobile-font-family: "Geist", Helvetica;
  --h3-mobile-font-weight: 300;
  --h3-mobile-font-size: 24px;
  --h3-mobile-letter-spacing: -0.72px;
  --h3-mobile-line-height: 129.99999523162842%;
  --h3-mobile-font-style: normal;
  --h4-desktop-light-font-family: "Geist", Helvetica;
  --h4-desktop-light-font-weight: 300;
  --h4-desktop-light-font-size: 22px;
  --h4-desktop-light-letter-spacing: 0px;
  --h4-desktop-light-line-height: 139.9999976158142%;
  --h4-desktop-light-font-style: normal;
  --h4-desktop-regular-font-family: "Geist", Helvetica;
  --h4-desktop-regular-font-weight: 400;
  --h4-desktop-regular-font-size: 22px;
  --h4-desktop-regular-letter-spacing: 0px;
  --h4-desktop-regular-line-height: 139.9999976158142%;
  --h4-desktop-regular-font-style: normal;
  --h4-mobile-light-font-family: "Geist", Helvetica;
  --h4-mobile-light-font-weight: 300;
  --h4-mobile-light-font-size: 20px;
  --h4-mobile-light-letter-spacing: 0px;
  --h4-mobile-light-line-height: 139.9999976158142%;
  --h4-mobile-light-font-style: normal;
  --h4-mobile-regular-font-family: "Geist", Helvetica;
  --h4-mobile-regular-font-weight: 400;
  --h4-mobile-regular-font-size: 20px;
  --h4-mobile-regular-letter-spacing: 0px;
  --h4-mobile-regular-line-height: 139.9999976158142%;
  --h4-mobile-regular-font-style: normal;
  --p-large-desktop-regular-font-family: "Geist", Helvetica;
  --p-large-desktop-regular-font-weight: 400;
  --p-large-desktop-regular-font-size: 18px;
  --p-large-desktop-regular-letter-spacing: -0.18px;
  --p-large-desktop-regular-line-height: 139.9999976158142%;
  --p-large-desktop-regular-font-style: normal;
  --p-large-desktop-medium-font-family: "Geist", Helvetica;
  --p-large-desktop-medium-font-weight: 500;
  --p-large-desktop-medium-font-size: 18px;
  --p-large-desktop-medium-letter-spacing: -0.18px;
  --p-large-desktop-medium-line-height: 139.9999976158142%;
  --p-large-desktop-medium-font-style: normal;
  --p-large-mobile-regular-font-family: "Geist", Helvetica;
  --p-large-mobile-regular-font-weight: 400;
  --p-large-mobile-regular-font-size: 17px;
  --p-large-mobile-regular-letter-spacing: -0.17px;
  --p-large-mobile-regular-line-height: 139.9999976158142%;
  --p-large-mobile-regular-font-style: normal;
  --p-large-mobile-medium-font-family: "Geist", Helvetica;
  --p-large-mobile-medium-font-weight: 500;
  --p-large-mobile-medium-font-size: 17px;
  --p-large-mobile-medium-letter-spacing: -0.17px;
  --p-large-mobile-medium-line-height: 139.9999976158142%;
  --p-large-mobile-medium-font-style: normal;
  --p-desktop-regular-font-family: "Geist", Helvetica;
  --p-desktop-regular-font-weight: 400;
  --p-desktop-regular-font-size: 16px;
  --p-desktop-regular-letter-spacing: -0.16px;
  --p-desktop-regular-line-height: 139.9999976158142%;
  --p-desktop-regular-font-style: normal;
  --p-desktop-medium-font-family: "Geist", Helvetica;
  --p-desktop-medium-font-weight: 500;
  --p-desktop-medium-font-size: 16px;
  --p-desktop-medium-letter-spacing: -0.16px;
  --p-desktop-medium-line-height: 139.9999976158142%;
  --p-desktop-medium-font-style: normal;
  --p-mobile-regular-font-family: "Geist", Helvetica;
  --p-mobile-regular-font-weight: 400;
  --p-mobile-regular-font-size: 15px;
  --p-mobile-regular-letter-spacing: -0.15px;
  --p-mobile-regular-line-height: 139.9999976158142%;
  --p-mobile-regular-font-style: normal;
  --p-mobile-medium-font-family: "Geist", Helvetica;
  --p-mobile-medium-font-weight: 500;
  --p-mobile-medium-font-size: 15px;
  --p-mobile-medium-letter-spacing: -0.15px;
  --p-mobile-medium-line-height: 139.9999976158142%;
  --p-mobile-medium-font-style: normal;
  --p-small-regular-font-family: "Geist", Helvetica;
  --p-small-regular-font-weight: 400;
  --p-small-regular-font-size: 12px;
  --p-small-regular-letter-spacing: 0px;
  --p-small-regular-line-height: 139.9999976158142%;
  --p-small-regular-font-style: normal;
  --p-small-medium-font-family: "Geist", Helvetica;
  --p-small-medium-font-weight: 500;
  --p-small-medium-font-size: 12px;
  --p-small-medium-letter-spacing: 0px;
  --p-small-medium-line-height: 139.9999976158142%;
  --p-small-medium-font-style: normal;
  --button-regular-font-family: "Geist", Helvetica;
  --button-regular-font-weight: 500;
  --button-regular-font-size: 16px;
  --button-regular-letter-spacing: -0.16px;
  --button-regular-line-height: 100%;
  --button-regular-font-style: normal;
  --button-small-font-family: "Geist", Helvetica;
  --button-small-font-weight: 500;
  --button-small-font-size: 14px;
  --button-small-letter-spacing: -0.14px;
  --button-small-line-height: 100%;
  --button-small-font-style: normal;
  --button-mono-font-family: "Geist Mono", Helvetica;
  --button-mono-font-weight: 400;
  --button-mono-font-size: 14px;
  --button-mono-letter-spacing: 0px;
  --button-mono-line-height: 100%;
  --button-mono-font-style: normal;
  --spacing-4xs: 4px;
  --spacing-3xs: 8px;
  --spacing-2xs: 16px;
  --spacing-xs: 24px;
  --spacing-s: 32px;
  --spacing-m: 48px;
  --spacing-l: 64px;
  --spacing-xl: 80px;
  --spacing-2xl: 120px;
  --spacing-3xl: 144px;
  --spacing-4xl: 160px;
  --spacing-5xl: 200px;
  --colors-primary-lavendar-tint-1: rgba(231, 230, 255, 1);
  --colors-primary-lavendar-tint-2: rgba(212, 211, 255, 1);
  --colors-primary-lavendar-tint-3: rgba(193, 191, 255, 1);
  --colors-primary-lavendar-primary-lavendar: rgba(125, 122, 232, 1);
  --colors-primary-lavendar-shade-1: rgba(101, 91, 217, 1);
  --colors-primary-lavendar-shade-2: rgba(80, 65, 185, 1);
  --colors-primary-lavendar-shade-3: rgba(58, 38, 153, 1);
  --colors-neutrals-white: rgba(255, 255, 255, 1);
  --colors-neutrals-off-white: rgba(246, 246, 248, 1);
  --colors-neutrals-neutral-1: rgba(208, 209, 222, 1);
  --colors-accent-blue-tint-1: rgba(224, 233, 255, 1);
  --colors-accent-blue-tint-2: rgba(209, 223, 255, 1);
  --colors-accent-blue-tint-3: rgba(183, 204, 255, 1);
  --colors-accent-blue-primary-blue: rgba(184, 205, 255, 1);
  --colors-accent-orange-tint-1: rgba(255, 235, 217, 1);
  --colors-accent-orange-tint-2: rgba(255, 225, 198, 1);
  --colors-accent-orange-tint-3: rgba(255, 209, 166, 1);
  --colors-accent-green-tint-1: rgba(233, 243, 223, 1);
  --colors-accent-orange-primary-orange: rgba(255, 190, 129, 1);
  --colors-accent-green-tint-2: rgba(222, 237, 208, 1);
  --colors-accent-green-tint-3: rgba(202, 226, 181, 1);
  --colors-accent-green-primary-green: rgba(190, 214, 168, 1);
  --colors-neutrals-neutral-2: rgba(136, 137, 141, 1);
  --colors-neutrals-neutral-3: rgba(81, 83, 87, 1);
  --colors-neutrals-deep-navy: rgba(8, 24, 32, 1);
  --colors-neutrals-soft-black: rgba(16, 16, 16, 1);
  --colors-neutrals-invisible: rgba(255, 255, 255, 0);
}
